wp-admin/
wp-includes/
wp-config-sample.php
index.php
license.txt
readme.html
xmlrpc.php
wp-cli.phar
wp-content/plugins/*
wp-content/themes/*
!wp-content/themes/barselonian/
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
debug.log
*.sql
*.zip
.DS_Store